<div class="text-center">
    <img src="../../../assets/Logo.png" width="640" height="253">
    <h2 class="mb-4 mt-3">Bienvenido ¿Qué deseas hacer?</h2>
    <div class="mb-5">
        <p>Administrar servicios de salud CUM/CUP.</p>
        <button routerLink="/administrador_servicios" class="btn btn-primary">Haz click aquí</button>
    </div>
    <div>
        <p>Administrar servicios prestados.</p>
        <button routerLink="/administrador_servicios_prestados" class="btn btn-primary">Haz click aquí</button>
    </div>
</div>